attic
*-log-*.txt
.~lock*
/RMS_TARGET*
/README.html
0readme.ods
drogon*backup*

/ert/output/
/ert/test/
/ert/model/test*
/ert/model/logs/
/ert/model/storage_server.json
/ert/model/PC/
/ert/bin/scripts/__pycache__/*.pyc
/ert/input/config/.~lock.scal_drogon_truth.csv#
/ert/input/config/.region2fipnum.yml.swp
/ert/input/observations/seismic/

*.EGRID
*.INIT
*.UNRST
*.SMSPEC
*.UNSMRY
*.INSPEC
*.RSSPEC
/eclipse/model/ECL.CFE
/eclipse/include_pred/schedule/drogon_pred.sch
/eclipse/include/edit/*.trans
/eclipse/include/grid/drogon.faults
/eclipse/include/grid/drogon.grid
/eclipse/include/grid/drogon.multnum
/eclipse/include/grid/drogon.perm
/eclipse/include/grid/drogon.poro
/eclipse/include/props/drogon.sattab
/eclipse/include/props/drogon.swatinit
/eclipse/include/props/drogon.swl
/eclipse/include/props/drogon.swcr
/eclipse/include/props/drogon.sgu
/eclipse/include/regions/drogon.eqlnum
/eclipse/include/regions/drogon.fipnum
/eclipse/include/regions/drogon.fipzon
/eclipse/include/regions/drogon.pvtnum
/eclipse/include/regions/drogon.satnum
/eclipse/include/schedule/*.sch
/eclipse/include/schedule/*.wells

/fmuconfig/output/

/rms/output/
/rms/input/seismic/*.segy
/rms/model/*.log
/rms/model/drogon.rms1*/
/rms/model/backup_pythoncomp/

/share/results
/share/observations
/share/results_sumo/
/share/preprocessed
/share/webviz/test*

/sim2seis/output/
/sim2seis/input/pem/
/sim2seis/input/seismic_forward/
/sim2seis/input/4d_attribute_maps
