VALYSAR_APS_1_0_GF_GRF1_RESIDUAL_MAINRANGE          CONST     2000
VALYSAR_APS_1_0_GF_GRF1_RESIDUAL_PERPRANGE          CONST     400
VALYSAR_APS_1_0_GF_GRF1_RESIDUAL_VERTRANGE          CONST     5
VALYSAR_APS_1_0_GF_GRF1_RESIDUAL_AZIMUTHANGLE       CONST     70
VALYSAR_APS_1_0_GF_GRF2_RESIDUAL_MAINRANGE          CONST     1000
VALYSAR_APS_1_0_GF_GRF2_RESIDUAL_PERPRANGE          CONST     1000
VALYSAR_APS_1_0_GF_GRF2_RESIDUAL_VERTRANGE          CONST     5
VALYSAR_APS_1_0_GF_GRF2_RESIDUAL_AZIMUTHANGLE       CONST     70
VALYSAR_APS_1_0_GF_GRF3_RESIDUAL_MAINRANGE          CONST     1000
VALYSAR_APS_1_0_GF_GRF3_RESIDUAL_PERPRANGE          CONST     1000
VALYSAR_APS_1_0_GF_GRF3_RESIDUAL_VERTRANGE          CONST     5
VALYSAR_APS_1_0_GF_GRF3_RESIDUAL_AZIMUTHANGLE       CONST     0
THERYS_APS_1_0_GF_GRF1_RESIDUAL_MAINRANGE           CONST     1000
THERYS_APS_1_0_GF_GRF1_RESIDUAL_PERPRANGE           CONST     6000
THERYS_APS_1_0_GF_GRF1_RESIDUAL_VERTRANGE           CONST     5
THERYS_APS_1_0_GF_GRF1_TREND_AZIMUTH                CONST     300
THERYS_APS_1_0_GF_GRF1_TREND_STACKANGLE             CONST     0.015
THERYS_APS_1_0_GF_GRF2_RESIDUAL_MAINRANGE           CONST     6000
THERYS_APS_1_0_GF_GRF2_RESIDUAL_PERPRANGE           CONST     1000
THERYS_APS_1_0_GF_GRF2_RESIDUAL_VERTRANGE           CONST     5
THERYS_APS_1_0_GF_GRF2_RESIDUAL_AZIMUTHANGLE        CONST     10
THERYS_APS_1_0_GF_GRF3_RESIDUAL_MAINRANGE           CONST     1500
THERYS_APS_1_0_GF_GRF3_RESIDUAL_PERPRANGE           CONST     1500
THERYS_APS_1_0_GF_GRF3_RESIDUAL_VERTRANGE           CONST     1
THERYS_APS_1_0_GF_GRF3_RESIDUAL_AZIMUTHANGLE        CONST     10
VOLON_APS_1_0_GF_GRF1_RESIDUAL_MAINRANGE            CONST     900
VOLON_APS_1_0_GF_GRF1_RESIDUAL_PERPRANGE            CONST     200
VOLON_APS_1_0_GF_GRF1_RESIDUAL_VERTRANGE            CONST     5
VOLON_APS_1_0_GF_GRF1_RESIDUAL_AZIMUTHANGLE         CONST     5
VOLON_APS_1_0_GF_GRF2_RESIDUAL_MAINRANGE            CONST     1000
VOLON_APS_1_0_GF_GRF2_RESIDUAL_PERPRANGE            CONST     1000
VOLON_APS_1_0_GF_GRF2_RESIDUAL_VERTRANGE            CONST     5
VOLON_APS_1_0_GF_GRF2_RESIDUAL_AZIMUTHANGLE         CONST     0
VOLON_APS_1_0_GF_GRF3_RESIDUAL_MAINRANGE            CONST     800
VOLON_APS_1_0_GF_GRF3_RESIDUAL_PERPRANGE            CONST     800
VOLON_APS_1_0_GF_GRF3_RESIDUAL_VERTRANGE            CONST     1
VOLON_APS_1_0_GF_GRF3_RESIDUAL_AZIMUTHANGLE         CONST     0
