KVKH_CHANNEL             UNIFORM   0.4  0.8
KVKH_CREVASSE            UNIFORM   0.1  0.5
KVKH_US                  UNIFORM   0.4  0.8
KVKH_LS                  UNIFORM   0.5  0.9

FWL_CENTRAL              UNIFORM  1672  1682
FWL_NORTH_HORST          UNIFORM  1655  1665
GOC_NORTH_HORST          UNIFORM  1635  1645

FAULT_SEAL_SCALING       LOGUNIF  0.1   10

RELPERM_INT_WO           UNIFORM  -1     1
RELPERM_INT_GO           UNIFORM  -1     1

PERMREF_CHANNEL          CONST     1050.0  -- reference perm used in pc calc
PERMREF_CREAVASSE        CONST      100.0
PERMREF_USHOREFACE       CONST     1200.0
PERMREF_LSHOREFACE       CONST       40.0
PERMREF_OFFSHORE         CONST        2.0
PERMREF_FLOODPLAIN       CONST        1.0

POROREF_CHANNEL          CONST       0.24  -- reference poro used in pc calc
POROREF_CREAVASSE        CONST       0.22
POROREF_USHOREFACE       CONST       0.31
POROREF_LSHOREFACE       CONST       0.23
POROREF_OFFSHORE         CONST       0.10
POROREF_FLOODPLAIN       CONST       0.13

SWLHEIGHT                CONST      350.0  -- for computing swl (swl = sw at swlheight)

SIMGRID_MINPV            CONST      100.0  -- set simgrid porosity to zero for cells with small porv


ISOTREND_ALT1W_VALYSAR   UNIFORM   0.8  1.0  -- Isocore trend contour uncertainty (interpoaltion/weight of two alternatives)
ISOTREND_ALT1W_THERYS    UNIFORM   0.8  1.0
ISOTREND_ALT1W_VOLON     UNIFORM   0.4  0.6

VALYSAR_APS_PROB_CHANNEL           UNIFORM  0.24  0.44
THERYS_APS_PROB_LOWSHOREFACE       UNIFORM  0.2  0.4
THERYS_APS_PROB_UPSHOREFACE        UNIFORM  0.1  0.3
VOLON_APS_PROB_CHANNEL             UNIFORM  0.52  0.72

------

VALYSAR_CHANNEL_AZIMUTH                   CONST  70     -- Only used when FACIESMODEL_ALTERNATIVE = 0
VALYSAR_CHANNEL_WIDTH                     CONST  700    -- Only used when FACIESMODEL_ALTERNATIVE = 0
VALYSAR_CHANNEL_VOLFRAC                   CONST  0.60   -- Only used when FACIESMODEL_ALTERNATIVE = 0
VOLON_FLOODPLAIN_AZIMUTH                  CONST  0      -- Only used when FACIESMODEL_ALTERNATIVE = 0
VOLON_FLOODPLAIN_VARIOGRAM_RANGE_PARALLEL CONST  800    -- Only used when FACIESMODEL_ALTERNATIVE = 0
VOLON_FLOODPLAIN_VARIOGRAM_RANGE_NORMAL   CONST  200    -- Only used when FACIESMODEL_ALTERNATIVE = 0
VOLON_FLOODPLAIN_VOLFRAC                  CONST  0.3    -- Only used when FACIESMODEL_ALTERNATIVE = 0

------

VALYSAR_PORO_CHANNEL     CONST  0.27  -- Only used when PETROMODEL_ALTERNATIVE = 0
VALYSAR_PORO_CREVASSE    CONST  0.22  -- Only used when PETROMODEL_ALTERNATIVE = 0
THERYS_PORO_US           CONST  0.31  -- Only used when PETROMODEL_ALTERNATIVE = 0
THERYS_PORO_LS           CONST  0.23  -- Only used when PETROMODEL_ALTERNATIVE = 0
VOLON_PORO_CHANNEL       CONST  0.20  -- Only used when PETROMODEL_ALTERNATIVE = 0

VALYSAR_PERMH_CHANNEL    CONST  1000  -- Only used when PETROMODEL_ALTERNATIVE = 0
VALYSAR_PERMH_CREVASSE   CONST   100  -- Only used when PETROMODEL_ALTERNATIVE = 0
THERYS_PERMH_US          CONST  1200  -- Only used when PETROMODEL_ALTERNATIVE = 0
THERYS_PERMH_LS          CONST    40  -- Only used when PETROMODEL_ALTERNATIVE = 0
VOLON_PERMH_CHANNEL      CONST  1100  -- Only used when PETROMODEL_ALTERNATIVE = 0
