DCONV_ALTERNATIVE        CONST 2  -- 1: contant V in overburden  2: V = a*Tmap + b in overburden
HUM_MODEL_MODE           CONST 1  -- 0: prediction  1: simulation
PETROMODEL_ALTERNATIVE   CONST 1  -- 0: simple constant value per facies  1: standard multivariate analysis
FACIESMODEL_ALTERNATIVE  CONST 1  -- 0: RMS algorithms  1: APS in all zones
FACIES_VALYSAR_SEISCOND  CONST 1  -- 0: don't condition on seismic  1: condition on seismic
FACIES_THERYS_ALT2       CONST 1  -- 0: Indicators  1: Belts  | only applies when FACIESMODEL_ALTERNATIVE=0

KVKH_CHANNEL             CONST   0.6
KVKH_CREVASSE            CONST   0.3
KVKH_US                  CONST   0.6
KVKH_LS                  CONST   0.7

FWL_CENTRAL              CONST  1677
FWL_NORTH_HORST          CONST  1660
GOC_NORTH_HORST          CONST  1640

FAULT_SEAL_SCALING       LOGUNIF  0.1   10

RELPERM_INT_WO           CONST  0
RELPERM_INT_GO           CONST  0

PERMREF_CHANNEL          CONST     1050.0
PERMREF_CREAVASSE        CONST      100.0
PERMREF_USHOREFACE       CONST     1200.0
PERMREF_LSHOREFACE       CONST       40.0
PERMREF_OFFSHORE         CONST        2.0
PERMREF_FLOODPLAIN       CONST        1.0

POROREF_CHANNEL          CONST        0.24
POROREF_CREAVASSE        CONST        0.22
POROREF_USHOREFACE       CONST        0.31
POROREF_LSHOREFACE       CONST        0.23
POROREF_OFFSHORE         CONST        0.10
POROREF_FLOODPLAIN       CONST        0.13

SWLHEIGHT                CONST      350.0

SIMGRID_MINPV            CONST      100.0

ISOTREND_ALT1W_VALYSAR	 CONST     0.5
ISOTREND_ALT1W_THERYS	 CONST     0.5
ISOTREND_ALT1W_VOLON	 CONST     0.5

VALYSAR_APS_PROB_CHANNEL           CONST  0.34
THERYS_APS_PROB_LOWSHOREFACE       CONST  0.3
THERYS_APS_PROB_UPSHOREFACE        CONST  0.2
VOLON_APS_PROB_CHANNEL             CONST  0.62

------

VALYSAR_CHANNEL_AZIMUTH                   CONST  70     -- Only used when FACIESMODEL_ALTERNATIVE = 0
VALYSAR_CHANNEL_WIDTH                     CONST  700    -- Only used when FACIESMODEL_ALTERNATIVE = 0
VALYSAR_CHANNEL_VOLFRAC                   CONST  0.60   -- Only used when FACIESMODEL_ALTERNATIVE = 0
VOLON_FLOODPLAIN_AZIMUTH                  CONST  0      -- Only used when FACIESMODEL_ALTERNATIVE = 0
VOLON_FLOODPLAIN_VARIOGRAM_RANGE_PARALLEL CONST  800    -- Only used when FACIESMODEL_ALTERNATIVE = 0
VOLON_FLOODPLAIN_VARIOGRAM_RANGE_NORMAL   CONST  200    -- Only used when FACIESMODEL_ALTERNATIVE = 0
VOLON_FLOODPLAIN_VOLFRAC                  CONST  0.3    -- Only used when FACIESMODEL_ALTERNATIVE = 0

------

VALYSAR_PORO_CHANNEL     CONST  0.27  -- Only used when PETROMODEL_ALTERNATIVE = 0
VALYSAR_PORO_CREVASSE    CONST  0.22  -- Only used when PETROMODEL_ALTERNATIVE = 0
THERYS_PORO_US           CONST  0.31  -- Only used when PETROMODEL_ALTERNATIVE = 0
THERYS_PORO_LS           CONST  0.23  -- Only used when PETROMODEL_ALTERNATIVE = 0
VOLON_PORO_CHANNEL       CONST  0.20  -- Only used when PETROMODEL_ALTERNATIVE = 0

VALYSAR_PERMH_CHANNEL    CONST  1000  -- Only used when PETROMODEL_ALTERNATIVE = 0
VALYSAR_PERMH_CREVASSE   CONST   100  -- Only used when PETROMODEL_ALTERNATIVE = 0
THERYS_PERMH_US          CONST  1200  -- Only used when PETROMODEL_ALTERNATIVE = 0
THERYS_PERMH_LS          CONST    40  -- Only used when PETROMODEL_ALTERNATIVE = 0
VOLON_PERMH_CHANNEL      CONST  1100  -- Only used when PETROMODEL_ALTERNATIVE = 0
