MULT_R1_VALYSAR_THERYS   LOGUNIF  1E-6  1
MULT_R1_VALYSAR_VOLON    LOGUNIF  1E-6  1
MULT_R1_THERYS_VOLON     LOGUNIF  1E-6  1
MULT_R2_VALYSAR_THERYS   LOGUNIF  1E-6  1
MULT_R2_VALYSAR_VOLON    LOGUNIF  1E-6  1
MULT_R2_THERYS_VOLON     LOGUNIF  1E-6  1
MULT_R3_VALYSAR_THERYS   LOGUNIF  1E-6  1
MULT_R3_VALYSAR_VOLON    LOGUNIF  1E-6  1
MULT_R3_THERYS_VOLON     LOGUNIF  1E-6  1
MULT_R4_VALYSAR_THERYS   LOGUNIF  1E-6  1
MULT_R4_VALYSAR_VOLON    LOGUNIF  1E-6  1
MULT_R4_THERYS_VOLON     LOGUNIF  1E-6  1
MULT_R5_VALYSAR_THERYS   LOGUNIF  1E-6  1E-2
MULT_R5_VALYSAR_VOLON    LOGUNIF  1E-6  1
MULT_R5_THERYS_VOLON     LOGUNIF  1E-6  1E-2
MULT_R6_VALYSAR_THERYS   LOGUNIF  1E-6  1
MULT_R6_VALYSAR_VOLON    LOGUNIF  1E-6  1
MULT_R6_THERYS_VOLON     LOGUNIF  1E-6  1
MULT_R7_VALYSAR_THERYS   LOGUNIF  1E-6  1
MULT_R7_VALYSAR_VOLON    LOGUNIF  1E-6  1
MULT_R7_THERYS_VOLON     LOGUNIF  1E-6  1
MULT_R5_THERYS_R2_ALL    LOGUNIF  1E-6  1E-2
MULT_R5_THERYS_R6_ALL    LOGUNIF  1E-6  1E-2
